---
import Html from '../icons/Html.astro'
import Bootstrap from '../icons/Bootstrap.astro'
import Php from '../icons/Php.astro'
import MySQL from '../icons/MySQL.astro'
import Javascript from '../icons/Javascript.astro'
import LinkButton from './LinkButton.astro'
import Www from '../icons/Www.astro'

const TAGS = {
    HTML: {
        name: "HTML",
        class: "bg-[#e35026]/20 text-white",
        icon: Html,
    },
    Bootstrap: {
        name: "Bootstrap",
        class: "bg-[#7e13f8]/20 text-white",
        icon: Bootstrap,
    },
    Php: {
        name: "PHP",
        class: "bg-[#777cb4]/20 text-white",
        icon: Php,
    },
    MySQL: {
        name: "MySQL",
        class: "bg-[#4479a0]/20 text-white",
        icon: MySQL,
    },
    JavaScript: {
        name: "JavaScript",
        class: "bg-[#efdb50]/20 text-white",
        icon: Javascript,
    }

    
}

const PROYECTOS = [
    {
        title: 'Plataforma de Gestión para Despachos Legales', 
        description: 'Facilitamos al Bufete Corrales optimizar la gestión documental y de clientes con nuestra herramienta web personalizada, permitiéndoles administrar su despacho de forma eficiente desde cualquier ubicación.',
        link: '#',
        textlink: 'Solicitar demostración',
        image: '/proyects/bufete.webp',
        tags: [TAGS.HTML, TAGS.Bootstrap, TAGS.JavaScript, TAGS.Php, TAGS.MySQL]
    },
    {
        title: 'Experiencia Digital para Restaurantes: Portal Web y Reservas', 
        description: 'Elevamos la presencia online del restaurante con una plataforma web que va más allá de mostrar la carta. Permite a los clientes explorar productos, acceder a información de contacto y realizar reservas de manera conveniente.',
        link: 'https://65a973a281ad490a9c3e0c96--fascinating-sprinkles-e84025.netlify.app/',
        textlink: 'Ir al sitio web',
        image: '/proyects/restaurante.webp',
        tags: [TAGS.HTML, TAGS.Bootstrap, TAGS.JavaScript, TAGS.Php, TAGS.MySQL]
    }
]
---

<section class="flex flex-col gap-y-16">
    {
        PROYECTOS.map(({ title, description, link, image, tags,
        textlink }) => (
            <article>
                <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>   
                <p class="text-lg mb-4 text-pretty">{description}</p>
                <ul class="flex gap-2 flex-row mb-2 flex-wrap"> 
                    {
                        tags.map(tag => (
                            <li>
                                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>
                                    <tag.icon class="size-4" />  
                                    {tag.name}
                                </span>
                            </li>
                        ))
                    }
                </ul> 
                <img 
                    class="rounded shadow-2xl shadow-white/10"
                    src={image} alt={`Captura de pantalla del proyecto ${image}`} 
                />
                <footer class="flex gap-x-4 items-end justify-start mt-4">
                    <LinkButton href={link}>
                        <Www /> 
                        {textlink}
                    </LinkButton>
                </footer>
            </article> 
        ))
    }
</section>